/* faiths page css start */
.main-heading {
    background-image: url(../images/faith-bg.png);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    align-items: center;
  }

  .main-heading h2 {
    font-size: 35px;
    background-color: #e6e5e2eb;
    text-align: center;
    margin: auto;
    padding: 40px 430px;
    color: var(--blue-color);
    font-weight: 700;
  }

  .message_sec_pg .main-heading {
      background: none !important;
  }

  .message_sec_pg .main-heading h2 {
      padding: 0;
      background: transparent;
      font-size: 50px;
  }

  .faith-sec {
    padding-top: 20px;
  }
  .faith-sec .I-G-content h5 {
    font-size: 23px;
    padding: 6px 0px 15px 0px;
    font-weight: 500;
  }
  .faith-sec .main-first {
    margin-top: 20px;
  }
  /* faiths page css end */

  /* israel page css start */
  .for-israel {
    background-image: url(../images/israel-bg.png);
  }
  .faith-sec .I-G-content a {
    color: var(--blue-color);
    font-family: "Playfair Display";
    font-weight: 500;
    font-size: 16px;
  }

  .faith-sec .I-G-content p {
    padding-bottom: 10px;
  }
  .israel-pg .I-G-content h5 {
    font-size: 35px;
    margin-bottom: 10px;
  }
  .israel-pg .I-G-content h6 {
    font-size: 18px;
    color: var(--blue-color);
    font-family: "Playfair Display";
    font-weight: 500;
    transition: all ease 0.5s;
  }

  .israel-pg .main-first:hover .I-G-content h6 {
      font-size: 20px;
      transition: all ease 0.5s;
  }

  .israel-pg .main-first {
      padding: 0;
  }

  .israel-pg .I-G-content {
      padding: 15px;
  }
  /* israel page css end */

  /* bible page css start */
  .for-bible {
    background-image: url(../images/bible-bg.png);
  }
  .para-content .I-G-content p {
    text-align: center;
    font-size: 14px;
    margin: auto;
    width: 84%;
    padding-top: 30px;
  }
  .bible-link {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
  }

  .bible-link a {
    color: var(--blue-color);
    font-size: 20px;
    font-family: "Lato";
    font-weight: 400;
    text-decoration: underline !important;
  }

  .para-content {
    padding-bottom: 90px;
    padding-top: 100px;
  }
  .bible-pg {
    height: 100vh;
  }
  /* bible page css end */

  /* about page css start */
  .for-about {
    background-image: url(../images/about-bg.png);
  }
  .about-video-sec {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .about-video-sec .I-main figure img {
    animation: none;
  }

  .about-video-sec .I-main .ps-img {
    width: 6%;
    left: 46%;
    top: 49%;
  }
  /* about page css end */

  /* contact css start */
  .for-contact {
    background-image: url(../images/contact-bg.png);
    background-size: cover;
  }

  .contact-info {
    padding: 80px 0;
  }

  .main-cont-info {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .phone-call figure {
    background: #763b8c;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    border-radius: 60%;
    justify-content: center;
  }

  .phone-call figure img {
    width: 27px;
  }

  .num-one span {
    color: var(--grey-color);
    font-weight: 500;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
  }

  .num-one a {
    color: var(--grey-color);
    font-weight: 500;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
  }
  .num-one h5 {
    color: var(--blue-color);
    font-weight: 500;
    font-size: 24px;
    font-family: timr45w;
  }
  .num-one p {
    color: var(--grey-color);
    font-weight: 500;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
  }
  .we-here {
    margin-top: 80px;
  }

  .we-here h2 {
    font-size: 70px;
    color: var(--blue-color);
    line-height: 80px;
    font-weight: 400;
  }

  .we-here p {
    font-weight: 500;
    font-size: 20px;
    width: 100%;
    margin-top: 30px;
    line-height: 25px;
    color: var(--grey-color);
    font-family: "Montserrat";
  }
  .we-here .form-control {
    background: var(--white-color);
    border: none;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 0;
    padding: 20px;
  }
  .we-here .form-control::placeholder {
    color: var(--grey-three-color);
    font-weight: 400;
    font-size: 14px;
    font-family: "Montserrat";
  }

  .we-here #textarea {
    height: unset !important;
    padding: 20px;
  }

  .btn-last button {
    border-radius: 0;
    padding: 16px 50px;
    font-weight: 400;
    background-color: #763b8c;
    color: white;
  }

  /* contact css end */


  /* join css start */

  .join_pg p{
      margin:auto;
      width:65%;
      font-size:18px;
       margin-bottom:20px;
  }



  /* join css end */
