@media (max-width: 1440px) {
    .discover-book h1 {
      font-size: 45px;
    }

    .discover-book .top-para:before {
      left: 135px;
    }

    .discover-book .top-para:after {
      right: 135px;
    }

    .discover-book p {
      width: 75%;
    }

    .I-G-content h5 {
      font-size: 15px;
    }

    .I-G-content p {
      font-size: 12px;
    }
    .navbar-nav li {
      padding: 0px 12px;
  }
  .top-btn {
      padding: 10px 20px;
  }
  }
  
  
  
  @media (max-width: 567px) {
    a.navbar-brand img {
    height: 100px;
}

.head-btn {
    font-size: 14px;
}

.discover-book h1 {
    text-align: center;
}

.discover-book p {
    width: 100%;
    font-size: 18px;
}
.top-story .main-first {
    margin-top: -20px;
    margin-bottom: 0px;
}
.navbar-nav li {
    margin-top: 5px;
    text-align: center;
}

.side-bar-top {
    justify-content: center;
}

.top-btn {
    padding: 5px 22px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.main-heading {
    height: 180px;
}
  }
  
  
